{% extends "wall_app_/base.html" %}


{% block title %}Login | Registro{% endblock %}

{% block content %}
<div class="container mt-4">
    {% if messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <ul>
                    {% for message in messages %}  
                        <li><strong>{{ message }}</strong></li>
                    {% endfor %}
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% else %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <ul>
                    {% for message in messages %}  
                    <li><strong>{{ message }}</strong></li>
                    {% endfor %}
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>   
        {% endif %}
    {% endif %}

    <div class="row row-cols-1 row-cols-md-2 g-4">        
        <div class="col">
            <form action="/register" method="POST">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header text-white bg-warning">
                        <h3 class="card-title">Registration</h3>
                    </div>
                    <div class="card-body bg-ligth">
                        <div class="mb-3 row">
                            <label for="first_name" class="col-sm-3 col-form-label ">First Name</label>
                            <div class="col-sm 9">
                                <input class="form-control" type="text" name="first_name" id="first_name" maxlength=30 required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="last_name" class="col-sm-3 col-form-label ">Last Name</label>
                            <div class="col-sm 9">
                                <input class="form-control" type="text" name="last_name" id="last_name" maxlength=30 required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="email" class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm 9">
                                <input class="form-control" type="email" name="email" id="email" maxlength=100 required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="password" class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm 9">
                                <input class="form-control" type="password" name="password" id="password" required>
                                <ul class="fw-italic">
                                    <li>Password debe tener entre 8 y 16 caracteres</li>
                                    <li>Al menos un dígito</li>
                                    <li>Al menos una minúscula y una mayúscula</li>
                                    <li>No puede tener otros símbolos.</li>
                                </ul>
                            </div>
                            
                        </div>
                        <div class="mb-3 row">
                            <label for="password_confirm" class="col-sm-3 col-form-label fw-bold">Confirm Pass</label>
                            <div class="col-sm 9">
                                <input class="form-control" type="password" name="password_confirm" id="password_confirm" required>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <div class="d-inline gap-2 col-4 mx-auto">
                            <input class="btn btn-warning mx-5" type="submit" value="Register">
                            <input class="btn btn-secondary ms-5" type="reset" value="Clear">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col">
            <form action="/login" method="POST">
                {% csrf_token %}
                <div class="card border-1">
                    <div class="card-header text-white bg-warning">
                        <h3 class="card-title">Login</h3>
                    </div>
                    <div class="card-body">
                        <div class="mb-3 row">
                            <label for="email" class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm 9">
                                <input class="form-control" type="email" name="email_login" id="email_login" maxlength=100 required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="password" class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm 9">
                                <input class="form-control" type="password" name="password_login" id="password_login" required>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center bg-transparent border-0">
                        <div class="d-inline gap-2 col-4 mx-auto">
                            <input class="btn btn-warning mx-5" type="submit" value="Login">
                            <input class="btn btn-secondary ms-5" type="reset" value="Clear">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}